body {
  background-color: #D5EDF6;
}

.App {
  text-align: center;
}

.header, h1 {
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #266DB6;
  color: aliceblue;
  text-align: center;
  line-height: 30px;
}

.log-in {
  position: fixed;
  right: 0;
}

.games {
  margin-top: 20px;
  margin-bottom: 70px;
}

.games h1 {
  margin-top: 0px;
}

.games button {
  margin-left: 3px;
}

.game {
  display: inline-block;
  margin: 15px;
  padding: 8px;
  border: 1px solid #266DB6;
  background-color: lightblue;
  text-decoration: none;
  color: black;
}


.game:hover {
  background-color: #6DCFF6;
  transition: background-color 100ms ease-in;
}

.game-img {
  height: 70px;
  width: 80%;
}

.stores-legend {
  margin: 30px;
  display: inline-block;
}

.stores-legend img {
  align-self: center;
}

.store-img {
  height: 45px;
  width: 90%;
}
.selected-stores img {
  height: 65%;
  width: 85%;
}

.img {
  height: 20px;
}

.normal-price {
  text-decoration: line-through;
}

.sale-price {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 2px solid #D5EDF6;
  background-color: #266DB6;
  position: fixed;
  top: 0;
  width: 100%;
 }
 
 li {
  float: left;
  border-right: 1px solid #266DB6;
 }

 li {
  display: block;
  color: aliceblue;
  text-align: left;
  padding: 15px 17px;
  text-decoration: none;
 }
 
 li:hover {
  cursor: pointer;
  background-color: #6DCFF6;
  transition: background-color 100ms ease-in;
 }

 .name-bar {
  margin-left: 25px;
  margin-right: 5px;
 }

 .game-input {
  margin-bottom: 30px;
  border-radius: 4px;
  font-family: "RM Neue",sans-serif;
 }

 .selected-game-title {
  margin: 0px;
 }

 .selected-game-quantity {
  display: inline-block;
  margin: 0px;
  margin-left: 3.5px;
  margin-right: 0px;
  color: #006AE8;
}

/* .selected-game-regulator {
  display: inline-block;
  border: 1px solid #266DB6;
  background-color: #D5EDF6;
  padding: 1px;
} */

.plus-minus-button {
  background-color: transparent;
  /* color: aliceblue; */
  border: none;
  border-radius: 118px;
  cursor: pointer;
  /* color: aliceblue; */
  font-size: 80%;
}

.plus-minus-button:hover {
  background-color: aliceblue;
  transition: background-color 200ms ease-in;
}

.details-button {
  display: inline-block;
  align-items: center;
  appearance: button;
  color: #006AE8;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.details-button:hover {
  color: aliceblue;
  transition: background-color 200ms ease-in;
}

.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: aliceblue;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 85%;
  margin: 0;
  padding: 3px 9px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:hover {
  background-color: #1C84FF;
}

.button-22-remove {
  align-items: center;
  appearance: button;
  background-color: #dc2f2f;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: aliceblue;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 80%;
  margin: 0;
  padding: 2px 7px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22-remove:hover {
  background-color: #f95959;
}